body {
    font-family: Encode Sans !important;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#tableMap .col-4 {
    transition: transform 0.3s;
    background-color: orangered;
    border-radius: 4px;
}

#tableMap .col-4:hover {
    transform: scale(1.1);
    background-color: #f8f9fa;
}


.username-display {
    position: absolute;
    top: 10px;
    right: 10px;
    color: orangered;
}

header {
    padding: 9px;
}

header img {
    width: 215px;
}

header .container {
    max-width: max-content;
    margin-top: -50px;
}

header img#en {
    width: auto;
}

header .col-12 {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 100px;
}

.item-title{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: calc(1.375rem + 1.5vw);
}

/* General form styles */
form, .crear-plato form {
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Titles in forms */
.title, .crear-plato .title{
    font-size: 24px;
    color: black;
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 20px;
}

/* Labels */
label, .crear-plato label {
    display: block;
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
    padding-left: 5px;
    font-weight: 500;
}

/* Inputs, selects, textareas */
input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Submit button */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: orangered;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #cc3700 !important;
}

hr {
    margin: 20px 0;
    border: 1px solid #eeeeee;
}

#historialPedidos {
    border: 2px solid orangered;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#historialPedidos li {
    margin-bottom: 10px;
}

/* Footer */
footer .container {
    max-width: 1140px;
}

footer .title-footer {
    color: #94A2AB;
    font-family: Encode Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 45px;
}

.btn-primary{
    margin-top: 20px;
}

/* Card hover effect */
.card {
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
}

/* Alerts */
.alert, .crear-plato .alert {
    position: fixed !important;
    bottom: 50px;
    right: 50px;
    margin: 0;
    padding: 15px;
    width: 350px;
    text-align: center;
    color: #333;
    background-color: #ffdddd;
    border-left: 5px solid orangered;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
